<%- include('../partials/header.ejs') %>

    <h1>Products</h1>

    <ul>
        <% products.forEach((product) => { %>
        <li>
            <img src="<%= product.img %>" alt="<%= product.name %>">
            <a href="/products/<%= product.id %>"><%= product.name %></a>
        </li>
        <% }) %>
    </ul>

<%- include('../partials/footer.ejs') %>