<%- include('../partials/header.ejs') %>

    <h1>Product details</h1>

    <div>Name : <%= product.name %></div>
    <div>Category : <%= product.category %></div>
    <div>From : <%= product.origin %></div>
    <div>stock : <%= product.stock %></div>
    <div>Price : <%= product.price_sell %>€</div>
    <div>Supplier : <%= product.supplier %></div>
    <div>Supplier price : <%= product.price_supplier %>€</div>

    <br>

    <a href="./">Return to products list</a>

<%- include('../partials/footer.ejs') %>